
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<script src="//mozilla.github.io/pdf.js/build/pdf.js"></script>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">  
      <h1 class="govuk-heading-xl">
        Outbound Email Preview
      </h1>

      <p class="govuk-body">View 
        <a href="/public/pdf/emd_preview_ipc147.pdf#toolbar=0" target="_blank" class="">
            Email Preview (opens in new browser tab)
        </a> for better readibility.
      </p>

      <div class="govuk-button-group">
  
        <button class="govuk-button" data-module="govuk-button">
          Confirm and send
        </button>

      </div>
      <div style="max-height: 100%;max-width:100%;overflow: scroll;">
        <canvas id="the-canvas"></canvas>
      </div>


    </div>
    <div class="govuk-grid-column-one-third">

      <div class="govuk-body">
        <h2 class="govuk-heading-s">Send notification: step by step</h2>
        <div class="govuk-body outbound-side-nav-heading">
          Check what you need to do to send a notification to someone
        </div>
        <div class="govuk-details__text outbound-side-nav-element outbound-selected-item">
          <h3 class="govuk-!-font-weight-bold">Select customer</h3>
          <div class="govuk-hint" style="font-size:15px;margin-right:25px;">
            Search for a customer via National Insurance number
          </div>
        </div>
        <div class="govuk-details__text outbound-side-nav-element outbound-selected-item">
          <h3 class="govuk-!-font-weight-bold">Select template</h3>
          <div class="govuk-hint" style="font-size:15px;margin-right:25px;">
            Search and select template.
            <br>
            Enter the required placeholders.
          </div>
        </div>
        <div class="govuk-details__text outbound-side-nav-element ">
          <h3 class="govuk-!-font-weight-bold">Summary and preview</h3>
          <div class="govuk-hint" style="font-size:15px;margin-right:25px;">
            Check the details entered and preview email
          </div>
        </div>
        <div class="govuk-details__text outbound-side-nav-element ">
          <h3 class="govuk-!-font-weight-bold">Send</h3>
          <div class="govuk-hint" style="font-size:15px;margin-right:25px;">
            Check the preview and 'Send'
          </div>
        </div>
      </div>

    </div>
  </div>


{% endblock %}

{% block pageScripts %}
<script>
  // If absolute URL from the remote server is provided, configure the CORS
  // header on that server.
  // var url = 'https://raw.githubusercontent.com/mozilla/pdf.js/ba2edeae/examples/learning/helloworld.pdf';
  var url = '/public/pdf/emd_preview_ipc147.pdf';

  // Loaded via <script> tag, create shortcut to access PDF.js exports.
  var pdfjsLib = window['pdfjs-dist/build/pdf'];

  // The workerSrc property shall be specified.
  pdfjsLib.GlobalWorkerOptions.workerSrc = '//mozilla.github.io/pdf.js/build/pdf.worker.js';

  // Asynchronous download of PDF
  var loadingTask = pdfjsLib.getDocument(url);
  loadingTask.promise.then(function(pdf) {
    console.log('PDF loaded');
    
    // Fetch the first page
    var pageNumber = 1;
    pdf.getPage(pageNumber).then(function(page) {
      console.log('Page loaded');
      
      var scale = 1.1;
      var viewport = page.getViewport({scale: scale});

      // Prepare canvas using PDF page dimensions
      var canvas = document.getElementById('the-canvas');
      var context = canvas.getContext('2d');
      canvas.height = viewport.height;
      canvas.width = viewport.width;

      // Render PDF page into canvas context
      var renderContext = {
        canvasContext: context,
        viewport: viewport
      };
      var renderTask = page.render(renderContext);
      renderTask.promise.then(function () {
        console.log('Page rendered');
      });
    });
  }, function (reason) {
    // PDF loading error
    console.error(reason);
  });
</script>
{% endblock %}