{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">

      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="welcome">Dashboard</a>
      </li>
  
      <li class="govuk-breadcrumbs__list-item" aria-current="page">Sending new notification</li>
      
    </ol>
  </div>

  <a href="/" class="govuk-back-link">Back</a>
  
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Outbound Summary
      </h1>
      <dl class="govuk-summary-list">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Recipient
          </dt>
          <dd class="govuk-summary-list__value">
            Mr John Doe
            <br>(Ni Number) AC974512A
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Language
          </dt>
          <dd class="govuk-summary-list__value">
            English
          </dd>

          <dd class="govuk-summary-list__actions">
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Template
          </dt>
          <dd class="govuk-summary-list__value">
            Generic Notification
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="select-template">
              Change<span class="govuk-visually-hidden">
                name</span>
            </a>
          </dd>
        </div>

      </dl>

      {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Placeholders"
            },
            value: {
              text: ""
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          }
        ]
      }) }}
      {{ govukSummaryList({
        classes: 'govuk-summary-list--no-border',
        rows: [
          {
            key: {
              text: "Notification Name"
            },
            value: {
              text: "Something"
            }
          },
          {
            key: {
              text: "URL"
            },
            value: {
              text: "	www.bob.com"
            }
          },
          {
            key: {
              text: "Agent Name"
            },
            value: {
              html: "Mr Smith"
            }
          }
        ]
      }) }}

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <div class="govuk-button-group">

        <a href="outbound-summary-iframe" class="govuk-button" data-module="govuk-button">
          Preview
        </a>

        <span class="govuk-!-margin-right-2"></span>
        <a href="#cancel-popup" class="govuk-link govuk-body outbound-move-down-8">
          Cancel
        </a>
      </div>
    </div>
    <div class="govuk-grid-column-one-third">

      <div class="govuk-body">
        <h2 class="govuk-heading-s">Send notification: step by step</h2>
        <div class="govuk-body outbound-side-nav-heading">
          Check what you need to do to send a notification to someone
        </div>
        <div class="govuk-details__text outbound-side-nav-element outbound-selected-item">
          <h3 class="govuk-!-font-weight-bold">Select customer</h3>
          <div class="govuk-hint" style="font-size:15px;margin-right:25px;">
            Search for a customer via National Insurance number
          </div>
        </div>
        <div class="govuk-details__text outbound-side-nav-element outbound-selected-item">
          <h3 class="govuk-!-font-weight-bold">Select template</h3>
          <div class="govuk-hint" style="font-size:15px;margin-right:25px;">
            Search and select template.
            <br>
            Enter the required placeholders.
          </div>
        </div>
        <div class="govuk-details__text outbound-side-nav-element ">
          <h3 class="govuk-!-font-weight-bold">Summary and preview</h3>
          <div class="govuk-hint" style="font-size:15px;margin-right:25px;">
            Check the details entered and preview email
          </div>
        </div>
        <div class="govuk-details__text outbound-side-nav-element ">
          <h3 class="govuk-!-font-weight-bold">Send</h3>
          <div class="govuk-hint" style="font-size:15px;margin-right:25px;">
            Check the preview and 'Send'
          </div>
        </div>
      </div>

    </div>
  </div>

{% endblock %}