
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<script src="//mozilla.github.io/pdf.js/build/pdf.js"></script>

  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">

      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="welcome">Dashboard</a>
      </li>
  
      <li class="govuk-breadcrumbs__list-item" aria-current="page">Sending new notification</li>
      
    </ol>
  </div>

  <a href="/" class="govuk-back-link">Back</a>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">  
      <h1 class="govuk-heading-xl">
        Notification Preview
      </h1>

      <p class="govuk-body">View 
        <a href="/public/pdf/emd_preview_ipc147.pdf#toolbar=0" target="_blank" class="">
            Notification Preview (opens in new browser tab)
        </a> for better readibility.
      </p>


      <canvas id="the-canvas" style="border: #ddd 1px solid; margin-bottom: 1em;"></canvas>

      <div style="margin-bottom: 2em;">
        <button id="prev">Previous</button>
        <button id="next">Next</button>
        &nbsp; &nbsp;
        <span>Page: <span id="page_num"></span> / <span id="page_count"></span></span>
      </div>

      <div class="govuk-button-group">
        <button class="govuk-button" data-module="govuk-button">
          Confirm and send
        </button>
      </div>
    </div>
    <div class="govuk-grid-column-one-third">

      <div class="govuk-body">
        <h2 class="govuk-heading-s">Send notification: step by step</h2>
        <div class="govuk-body outbound-side-nav-heading">
          Check what you need to do to send a notification to someone
        </div>
        <div class="govuk-details__text outbound-side-nav-element outbound-selected-item">
          <h3 class="govuk-!-font-weight-bold">Select customer</h3>
          <div class="govuk-hint" style="font-size:15px;margin-right:25px;">
            Search for a customer via National Insurance number
          </div>
        </div>
        <div class="govuk-details__text outbound-side-nav-element outbound-selected-item">
          <h3 class="govuk-!-font-weight-bold">Select template</h3>
          <div class="govuk-hint" style="font-size:15px;margin-right:25px;">
            Search and select template.
            <br>
            Enter the required placeholders.
          </div>
        </div>
        <div class="govuk-details__text outbound-side-nav-element ">
          <h3 class="govuk-!-font-weight-bold">Summary and preview</h3>
          <div class="govuk-hint" style="font-size:15px;margin-right:25px;">
            Check the details entered and preview email
          </div>
        </div>
        <div class="govuk-details__text outbound-side-nav-element ">
          <h3 class="govuk-!-font-weight-bold">Send</h3>
          <div class="govuk-hint" style="font-size:15px;margin-right:25px;">
            Check the preview and 'Send'
          </div>
        </div>
      </div>

    </div>
  </div>


{% endblock %}

{% block pageScripts %}
<script>
  // If absolute URL from the remote server is provided, configure the CORS
  // header on that server.
  // var url = 'https://raw.githubusercontent.com/mozilla/pdf.js/ba2edeae/examples/learning/helloworld.pdf';
  var url = '/public/pdf/emd_preview_ipc147.pdf';

// If absolute URL from the remote server is provided, configure the CORS
// header on that server.
{# var url = 'https://raw.githubusercontent.com/mozilla/pdf.js/ba2edeae/web/compressed.tracemonkey-pldi-09.pdf'; #}

// Loaded via <script> tag, create shortcut to access PDF.js exports.
var pdfjsLib = window['pdfjs-dist/build/pdf'];

// The workerSrc property shall be specified.
pdfjsLib.GlobalWorkerOptions.workerSrc = '//mozilla.github.io/pdf.js/build/pdf.worker.js';

var pdfDoc = null,
    pageNum = 1,
    pageRendering = false,
    pageNumPending = null,
    scale = 1,
    canvas = document.getElementById('the-canvas'),
    ctx = canvas.getContext('2d');

/**
 * Get page info from document, resize canvas accordingly, and render page.
 * @param num Page number.
 */
function renderPage(num) {
  pageRendering = true;
  // Using promise to fetch the page
  pdfDoc.getPage(num).then(function(page) {
    var viewport = page.getViewport({scale: scale});
    canvas.height = viewport.height;
    canvas.width = viewport.width;

    // Render PDF page into canvas context
    var renderContext = {
      canvasContext: ctx,
      viewport: viewport
    };
    var renderTask = page.render(renderContext);

    // Wait for rendering to finish
    renderTask.promise.then(function() {
      pageRendering = false;
      if (pageNumPending !== null) {
        // New page rendering is pending
        renderPage(pageNumPending);
        pageNumPending = null;
      }
    });
  });

  // Update page counters
  document.getElementById('page_num').textContent = num;
}

/**
 * If another page rendering in progress, waits until the rendering is
 * finised. Otherwise, executes rendering immediately.
 */
function queueRenderPage(num) {
  if (pageRendering) {
    pageNumPending = num;
  } else {
    renderPage(num);
  }
}

/**
 * Displays previous page.
 */
function onPrevPage() {
  if (pageNum <= 1) {
    return;
  }
  pageNum--;
  queueRenderPage(pageNum);
}
document.getElementById('prev').addEventListener('click', onPrevPage);

/**
 * Displays next page.
 */
function onNextPage() {
  if (pageNum >= pdfDoc.numPages) {
    return;
  }
  pageNum++;
  queueRenderPage(pageNum);
}
document.getElementById('next').addEventListener('click', onNextPage);

/**
 * Asynchronously downloads PDF.
 */
pdfjsLib.getDocument(url).promise.then(function(pdfDoc_) {
  pdfDoc = pdfDoc_;
  document.getElementById('page_count').textContent = pdfDoc.numPages;

  // Initial/first page rendering
  renderPage(pageNum);
});

</script>
{% endblock %}

