
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        DWP Notifications Service Prototype
        <span class="govuk-caption-xl">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}

      <h2 class="govuk-heading-m">Designs</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/email-templates/">Email template placeholders</a>
        </li>
        <li>
          <a href="/email-preview-2/template-placeholders">Email preview v2</a>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}
